h1{color: rgb(16, 111, 16);}

body{
    margin: 0;
    padding: 0;
}

a.main-page{
    color: white;
}


a{
    text-decoration: none;
    color: rgb(20, 102, 9); 
}

    
img{
    width: 200px;
    height: 200px;
}

header{background-color: rgb(216, 93, 48);
        padding: 16px;
        font-size: 25px;
        border-bottom: 1px solid black;
    
}

nav{background: rgb(216, 93, 48);
    font-size: 25px;
    padding:16px;
    border-bottom: 1px solid black;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(136, 165, 72);
}

main{padding: 16px;}

a:hover{
    color: green;
}

.recipes-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(auto, auto);
    gap: 10px;
      
}

.grid-item{
    background-color: rgb(197, 156, 90);
    padding: 20px;
}