
body{
    
    padding: 0;
    margin: 0;
}

h1{margin-left: 16px;

}

h2{
    margin-left: 16px;
}

a{
    text-decoration: none;
    color: white;
}
  
h1{color: rgb(16, 111, 16);}

main{padding: 16px;}

nav{
    padding: 16px;
    border-bottom: 1px solid black;
}

th{
    margin-left: 16px;
}

div{
    margin-left: 16px;

}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: rgb(129, 217, 129);
}
nav{background: rgb(216, 93, 48);
    font-size: 25px;
}

.title{color: green;}

img {
    width: 200px;
    height: 200px;
    margin-left: 16px;
}


tr:nth-child(even)  {
    background-color: rgb(198, 194, 194);
}

